.Logo {
  width: 40%;
}

.d-block {
  height: 1000px;
}
/* Estilos para la sección de presupuestos */
.sectionBudget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: #f9f9f9;
  padding: 50px 0;
}

.contentPresupuestos {
  display: flex;
  flex-direction: column; /* Agregamos flex-wrap para que los elementos se envuelvan en pantallas pequeñas */
  justify-content: center; /* Centramos los elementos horizontalmente */
  align-items: flex-start; /* Alineamos los elementos al inicio verticalmente */
  margin-top: 100px;
}

.contentPresupuesto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px; /* Reducimos el margen para dar más espacio a los elementos */
  border: 2px solid black;
  padding: 50px;
  border-radius: 30px;
}
